# For original CityLab/BeyondForms team, config (including Twilio API key) is available in 1Password.

# Generate using following steps.
# https://docs.goauthentik.io/install-config/install/docker-compose/#generate-postgresql-password-and-secret-key
PG_PASS=authentik-postgres-password
AUTHENTIK_SECRET_KEY=generate-a-secret
AUTHENTIK_ERROR_REPORTING__ENABLED=true

# Public key for RS256 token verification in libraries.
# Matches the certificate in auth/blueprints/oidc-provider.yaml
AUTHENTIK_PUBLIC_KEY_PATH=certs/pub/oidc_public.pem

# Setting flags to automatically bootstrap "akadmin" user setup flow for development.
# For manual setup, remove these values and follow steps in
# https://docs.goauthentik.io/install-config/install/docker-compose/#access-authentik
AUTHENTIK_BOOTSTRAP_PASSWORD=password2
AUTHENTIK_BOOTSTRAP_EMAIL=beyondforms-admin@tsberlin.de

# Twilio SMS Provider Config
AUTHENTIK_SMS__PROVIDERS__TWILIO__ACCOUNT_SID=twilio-fake-sid
AUTHENTIK_SMS__PROVIDERS__TWILIO__AUTH_TOKEN=twilio-fake-token
AUTHENTIK_SMS__PROVIDERS__TWILIO__FROM=+4900000000
