GCS_BUCKET_NAME=beyondforms-dev-bucket
GCLOUD_PROJECT=beyond-forms-staging

# OIDC Configuration
# These must match the 'client_id' and 'client_secret' attributes of the
# OIDC Provider defined in auth/blueprints/oidc-provider.yaml.
OIDC_CLIENT_ID=beyondforms
OIDC_CLIENT_SECRET=beyondforms-secret

# Public key for RS256 token verification.
AUTHENTIK_PUBLIC_KEY_PATH=/app/auth/certs/pub/oidc_public.pem

ENDPOINT_RULES_ENGINE=http://rules-engine:8080
ENDPOINT_FORMS_FILLER=http://forms-filling-service:8080

GEMINI_MODEL_NAME=gemini-3.5-flash
GCP_RAG_ENGINE_REGION=

CHAT_CONTEXT_WINDOW_SIZE=20

RAG_ENGINE_CORPUS=

API_PUBLIC_URL=http://localhost:8080
