# Address for the Authentik-server.
AUTHENTIK_SERVER_URL=http://authentik-server:9000

# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_USER=devuser
DB_PASSWORD=devpassword
DB_NAME=devdb

# Password to use for test accounts.
TEST_ACCOUNT_PASSWORD=test-account-pw

# OIDC Configuration
# These must match the 'client_id' and 'client_secret' attributes of the
# OIDC Provider defined in auth/blueprints/oidc-provider.yaml.
OIDC_CLIENT_ID=beyondforms
OIDC_CLIENT_SECRET=beyondforms-secret
OIDC_REDIRECT_URI=http://localhost:3000/auth/callback

# Public key for RS256 token verification.
AUTHENTIK_PUBLIC_KEY_PATH=/app/auth/certs/pub/oidc_public.pem
